name: CI

on:
  push:
    branches: [ "main" ]

defaults:
  run:
    shell: pwsh

jobs:
  ci_build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Build FrameworkDetector.CLI
      run: ./scripts/build.ps1
      
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: FrameworkDetector.CLI Binaries
        path: ./bld/FrameworkDetector
